.sideMenuContainer {
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #f8f8f8;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideMenuHeader {
  /* padding: 20px; */
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  color: #080808;
}

.chatList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuOption {
  padding: 15px 20px;
  border-bottom: 1px solid #b9b6b6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menuOption:hover {
  background-color: #f0cbcc;
}

.activeOption {
  background-color: #f0cbcc;
}

.caseDescription {
  /* display: flex; */

  word-wrap: break-word;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}

.disabledOption {
  color: #e7e7e7;
  cursor: not-allowed;
}
