.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chatRoot {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;

  overflow-x: hidden;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  overflow-y: auto;
}

.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1024px;
}

.chatEmptyStateTitle {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Verdana, sans-serif;
}

@media only screen and (max-height: 780px) {
  .chatEmptyStateTitle {
    font-size: 3rem;
    margin-bottom: 0px;
  }
}

.chatMessageStream {
  flex-grow: 1;
  max-width: 1028px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.chatMessageGpt {
  margin-bottom: 20px;
  max-width: 80%;
  display: flex;
  min-width: 500px;
}

.chatMessageGptMinWidth {
  max-width: 500px;
  margin-bottom: 20px;
}

.chatInput {
  position: sticky;
  bottom: 0;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1028px;
  border-bottom: 15px solid white;
}

.chatAnalysisPanel {
  max-width: 100%;
  height: 100%;
  width: 600px;
  position: relative;
}

.chatAnalysisPanel [role="tablist"] {
  margin-left: 150px;
}

.chatAnalysisPanel [role="tabpanel"] {
  height: 94.4%;
  overflow-y: auto;
}

.chatSettingsSeparator {
  margin-top: 15px;
}

.loadingLogo {
  font-size: 28px;
}

.commandsContainer {
  display: flex;
  align-self: flex-end;
  padding-right: 20px;
}

.commandButton {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hideChat {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
