* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #f2f2f2;

  font-family: Klavika;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Klavika;
}
h2{
  font-family: Klavika;
}
h3{
  font-family: Klavika;
}
h4{
  font-family: Klavika;
}
h5 {
  font-family: Klavika;
  font-weight: bold;
}

#root {
  height: 100%;
}
