.examplesNavList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.example {
  word-break: break-word;
  background: #ab2328;
  color: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  min-height: 120px;
}

.example:hover {
  box-shadow:
    0px 8px 16px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
}

.exampleText {
  margin: 0;
  font-size: 20px;
  width: 280px;
  text-align: center;
}

@media only screen and (max-height: 780px) {
  .exampleText {
    font-size: 20px;
  }
}
