.loginButton {
    border-radius: 5px;
    padding: 20px 40px; /* Adjust padding */
    font-weight: 100;
    color: #ab2328;

    /* Positioning the button */
    position: fixed; /* Makes the button fixed in place */
    top: 10px; /* Distance from the top of the screen */
    right: 10px; /* Distance from the right side of the screen */

    /* Optional: For responsiveness */
    @media (max-width: 768px) {
        padding: 15px 30px; /* Adjust padding for smaller screens */
        top: 5px; /* Adjust top for smaller screens */
        right: 5px; /* Adjust right for smaller screens */
    }
}

/* LoginButton.module.css */
/* LoginButton.module.css */
.loginContainer {
    position: relative;
    display: inline-block; /* Para manter o botão de logout e o dropdown juntos */
}

.dropdownMenu {
    position: fixed;
    top: 60px; /* Ajusta a distância vertical do botão de logout */
    right: 10px; /* Alinha o dropdown à direita */
    color: #ab2328;
    background-color: white;
    border: 1px solid #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Garante que o dropdown apareça acima de outros elementos */
}

.confirmButton {
    margin-top: 10px;
    background-color: #ab2328;
    color: white;
}
