.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  /* background-color: #222222; */
  /* background-color: #ab2328; */
  background-color: #ffffff;
  color: #1e8a4e;
  padding: 10px;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;

}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
  color: #489b3d;
  text-decoration: none;
}

.headerLogo {
  height: auto;
}

.headerTitle {
  margin-left: 12px;
  font-weight: 600;
}

/* .logoButton {
  border: none;
  background: none;
  cursor: pointer;
} */

.logoButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.logoButton:disabled {
  cursor: not-allowed;
}

/* .companyLogo {
  width: 160px;
  fill: white;
} */

.companyLogo {
  width: 80px; /* Adjust the logo size as desired */
  height: auto; /* Maintain aspect ratio */
}

.bodyContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  background-color: white; 
  background-repeat: no-repeat;
  background-size: COVER;
  overflow-y: hidden;
}

.redBar {
  width: 100%;
  height: 60px; /* A altura da barra, ajuste conforme necessário */
  background-color: #ab2328;
  margin-top: 0px; /* Espaçamento entre o cabeçalho e a barra */
}

